.number-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid var(--circle-border-color, var(--cor-azul));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.number-circle-text {
  font-family: var(--fonte-inter);
  font-weight: 700;
  font-size: 40px;
  color: var(--circle-color);
}
